package com.scoulit.app.repositories; 

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import {{mainPackageName}}.model.{{entityName}};

@Repository
public interface {{entityName}}Repository extends JpaRepository<{{entityName}}, Long> {}